<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="console" target="SYSTEM_OUT">
      <PatternLayout
        pattern="[%-5level ] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
    </Console>
    <Console name="colorConsole" target="SYSTEM_OUT">
      <PatternLayout
        pattern="%highlight{[ %-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n}{FATAL=Red, ERROR=Yellow, WARN=White, INFO=cyan, DEBUG=Grey, TRACE=Black}" />
    </Console>

    <appender name="rollingFile" class="org.apache.log4j.RollingFileAppender">
      <param name="file" value="${LOG_DIR}/acquisition.log" />
      <param name="MaxFileSize" value="10MB" />
      <param name="MaxBackupIndex" value="5" />
      <layout class="org.apache.log4j.PatternLayout">
        <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %m%n" />
      </layout>
    </appender>

  </Appenders>
  <Loggers>
    <Root level="info" additivity="false">
      <AppenderRef ref="colorConsole" />
    </Root>
  </Loggers>
</Configuration>
